<!DOCTYPE html>
<html>

<head>
    <title>
        Admin page
    </title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/admin.css')}}">
</head>

<body>
    <header>
        <!-- <h1>Welcome to BookViewer!!</h1><br> -->
        <h3>Admin</h3>
    </header>
    <section id="centerSection">
        <h3>User List:</h3>
        <table class="table table-hover" id="userList">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <!-- <th scope="col">Email</th> -->
                    <th scope="col">Password</th>
                    <th scope="col">Created At</th>
                </tr>
            </thead>
            <tbody>
                {%set counter = 1%}
                {%for user in list%}
                {% set counter = counter + 1 %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{user.name}}</td>
                    <!-- <td>{{user.email}}</td> -->
                    <td>{{user.password}}</td>
                    <td>{{user.created_at}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </section>
</body>

</html>