<!DOCTYPE html>
<html>

<head>
    <title>
        {{name}} Home page
    </title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/user_home.css')}}">
</head>

<body>
    <header>
        <!-- <h1>Welcome to BookViewer</h1><br> -->
        <nav class="navbar navbar-light" style="background-color:rgb(56, 0, 0)">
            <a class="navbar-brand">BookViewer</a>
            <h4>{{name}}</h4>
            <form action="{{url_for('register')}}">
                <button type="submit" class="logout_button" value="logout_now">Logout</button>
            </form>
        </nav>
    </header>
    <div class="container">
        <form class="form-inline text-center">
            <div style="width: 30%; text-align: left;">
                <h4>Search for a book</h4>
            </div>
            <div style="width: 30%;" >
                <input class="form-control mr-sm-2 float-right" type="search" placeholder="Type here" aria-label="Search">
            </div>
            <div style="width: 10%;">
            </div>
            <div style="width: 15%;" >
                <div class="dropdown float-none" style="width: 10%;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Search by
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Title</a>
                        <a class="dropdown-item" href="#">Author</a>
                        <a class="dropdown-item" href="#">Year</a>
                    </div>
                </div>
                <!-- <div style="width: 10%;" >
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </div> -->
            </div>
            <div style="width: 15%;" >
                <button class="btn btn-outline-light float-right" type="submit">Search</button>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>